<div class="left_col scroll-view">
	<div class="navbar nav_title" style="border: 0;">
		<a href="#" class="site_title"><i class="fa fa-paw"></i>
		<!-- <a href="index.html" class="site_title"><i class="fa fa-paw"></i> -->
			<span>Vendedor</span></a>
	</div>

	<div class="clearfix"></div>

	<!-- menu profile quick info -->
	<div class="profile">
		<div class="profile_pic">
			<img th:src="@{/assets/vendedor/images/img.jpg}" alt="..."
				class="img-circle profile_img">
		</div>
		<div class="profile_info">
			<span>Bienvenido,</span>
			<h2 th:text="${nombreVendedor}"></h2>
			<!-- <h2 th:text="${session.usuario}"></h2> -->
		</div>
	</div>
	<!-- /menu profile quick info -->

	<br />

	<!-- sidebar menu -->

	<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
		<div class="menu_section">
			<h3>General</h3>
			<ul class="nav side-menu">
				<!-- <li th:each="modulo:${session.modulosPorPerfil}"><a> <i
						class="fa" th:classappend="${modulo.icono}"> </i> <span
						th:text="${modulo.nombre}"></span> <span
						class="fa fa-chevron-down"></span>
				</a>
					<ul class="nav child_menu">
						<th:block
							data-th-each="submodulo : ${session.submodulosPorPerfil}">
							<th:block
								data-th-if="${modulo.idmodulo} == ${submodulo.idmodulo}">
								<li><a href="#" th:text="${submodulo.nombre}"></a>
								</li>
							</th:block>
						</th:block>

					</ul>
					</li>  -->

				<!-- <ul class="nav child_menu">
						<li><a href="#">Usuarios</a></li>
						<li><a href="#">Perfiles</a></li>

					</ul> -->

				<!-- LISTA  DE LOS MENUS
				 	menu principal
					gestion de productos
					reportar stock
					productos vendidos
						productos menos vendidos
						productos mas vendidos
					 -->
					 <li><a><i class="fa fa-clone"></i> Inicio <span
						></span></a>
					</li>
				<li><a><i class="fa fa-pencil"></i> Gestión de Productos 
				<span></span></a>
					</li>
					
					<li><a><i class="fa fa-bar-chart-o"></i> Reportar Stock
					<span></span></a>
					<ul class="nav child_menu">
						
					</ul></li>
					
					
				
					<li><a><i class="fa fa-globe"></i> Productos Vendidos<span
						class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a href="#">Productos menos vendidos</a></li>
						<li><a href="#">Productos más vendidos</a></li>
					</ul></li>
					
					<li><a><i class="fa fa-th-list"></i> Pedidos <span
						class="fa fa-chevron-down"></span></a>
					<ul class="nav child_menu">
						<li><a href="#">Recibidos</a></li>
						<li><a href="#">En curso</a></li>
						<li><a href="#">Entregados</a></li>
					</ul></li>
				
				
				
			</ul>

		</div>

	</div>
	<!-- /sidebar menu -->

	<!-- /menu footer buttons -->
	<div class="sidebar-footer hidden-small">
		<a data-toggle="tooltip" data-placement="top" title="Settings"> <span
			class="glyphicon glyphicon-cog" aria-hidden="true"></span>
		</a> <a data-toggle="tooltip" data-placement="top" title="FullScreen">
			<span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
		</a> <a data-toggle="tooltip" data-placement="top" title="Lock"> <span
			class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
		</a> <a data-toggle="tooltip" data-placement="top" title="Logout"> <span
			class="glyphicon glyphicon-off" aria-hidden="true"></span>
		</a>
	</div>
	<!-- /menu footer buttons -->
</div>