<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/front/index :: head">
</head>
<body>
	<header th:replace="views/front/index :: header"></header>
	<nav id="navigation" th:fragment="navigation">
		<!-- container -->
		<div class="container">
			<!-- responsive-nav -->
			<div id="responsive-nav">
				<!-- NAV -->
				<ul class="main-nav nav navbar-nav">
					<li class="active"><a>Mis Pedidos</a></li>
					<li><a href="#">Mis Productos Deseados</a></li>
					<li><a href="#">Opcion 1</a></li>
					<li><a href="#">Opcion 2</a></li>
				</ul>
				<!-- /NAV -->
			</div>
			<!-- /responsive-nav -->
		</div>
		<!-- /container -->
	</nav>
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- Products tab & slick -->
				<div class="col-md-4">
					<div class="list-group">
						<a href="#" class="list-group-item list-group-item-action active">Mis
							pedidos</a> <a href="#"
							class="list-group-item list-group-item-action">Dapibus ac
							facilisis in</a> <a href="#"
							class="list-group-item list-group-item-action">Morbi leo
							risus</a> <a href="#" class="list-group-item list-group-item-action">Porta
							ac consectetur ac</a> <a href="#"
							class="list-group-item list-group-item-action disabled"
							tabindex="-1" aria-disabled="true">Vestibulum at eros</a>
					</div>
				</div>
				<div class="col-md-8">
					<p
						th:text="${listaPedidos.size() == 0 ? 'Aun no tiene pedidos' : 'Tiene pedidos'}"></p>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Codigo</th>
								<th scope="col">Fecha de Pedido</th>
								<th scope="col">Direccion de Entrega</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="pedido : ${listaPedidos}">
								<th th:text="${pedido.codigo}"></th>
								<td th:text="${pedido.fecha}"></td>
								<td th:text="${pedido.direccionEntrega}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script src="../../assets/front/js/jquery.min.js"></script>
	<script src="../../assets/front/js/bootstrap.min.js"></script>
	<script src="../../assets/front/js/slick.min.js"></script>
	<script src="../../assets/front/js/nouislider.min.js"></script>
	<script src="../../assets/front/js/jquery.zoom.min.js"></script>
	<script src="../../assets/front/js/main.js"></script>
</body>
</html>