<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
		<!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> 
			<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/marketplacebd_test</property> 
			<property name="hibernate.connection.username">marketplace</property> <property 
			name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property> -->
		<mapping class="pe.edu.unsch.entities.Boleta" />
		<mapping class="pe.edu.unsch.entities.BoletaVenta" />
		<mapping class="pe.edu.unsch.entities.Carrito" />
		<mapping class="pe.edu.unsch.entities.Categoria" />
		<mapping class="pe.edu.unsch.entities.CategoriaProducto" />
		<mapping class="pe.edu.unsch.entities.CategoriaSubcategoria" />
		<mapping class="pe.edu.unsch.entities.Comentario" />
		<mapping class="pe.edu.unsch.entities.CompradorFrecuente" />
		<mapping class="pe.edu.unsch.entities.ComprobanteVenta" />
		<mapping class="pe.edu.unsch.entities.ContraReembolso" />
		<mapping class="pe.edu.unsch.entities.CuponDescuento" />
		<mapping class="pe.edu.unsch.entities.Direccion" />
		<mapping class="pe.edu.unsch.entities.DomiciliacionBancaria" />
		<mapping class="pe.edu.unsch.entities.Factura" />
		<mapping class="pe.edu.unsch.entities.GarantiaProducto" />
		<mapping class="pe.edu.unsch.entities.HistorialPedido" />
		<mapping class="pe.edu.unsch.entities.ImagenProducto" />
		<mapping class="pe.edu.unsch.entities.InfoVendedor" />
		<mapping class="pe.edu.unsch.entities.LibroReclamacion" />
		<mapping class="pe.edu.unsch.entities.Modulo" />
		<mapping class="pe.edu.unsch.entities.Notificacion" />
		<mapping class="pe.edu.unsch.entities.OfertaEspecial" />
		<mapping class="pe.edu.unsch.entities.OfertaProducto" />
		<mapping class="pe.edu.unsch.entities.Opcion" />
		<mapping class="pe.edu.unsch.entities.Pago" />
		<mapping class="pe.edu.unsch.entities.PagoPaypal" />
		<mapping class="pe.edu.unsch.entities.Pedido" />
		<mapping class="pe.edu.unsch.entities.Persona" />
		<mapping class="pe.edu.unsch.entities.PersonaDireccion" />
		<mapping class="pe.edu.unsch.entities.Premio" />
		<mapping class="pe.edu.unsch.entities.Producto" />
		<mapping class="pe.edu.unsch.entities.ProductoComplementario" />
		<mapping class="pe.edu.unsch.entities.ProductoDemandado" />
		<mapping class="pe.edu.unsch.entities.ProductoDeseado" />
		<mapping class="pe.edu.unsch.entities.ProductoFavorito" />
		<mapping class="pe.edu.unsch.entities.ProductoMasVisto" />
		<mapping class="pe.edu.unsch.entities.ProductoValorado" />
		<mapping class="pe.edu.unsch.entities.Reclamo" />
		<mapping class="pe.edu.unsch.entities.Regalo" />
		<mapping class="pe.edu.unsch.entities.Reporte" />
		<mapping class="pe.edu.unsch.entities.Rol" />
		<mapping class="pe.edu.unsch.entities.RolOpcion" />
		<mapping class="pe.edu.unsch.entities.RolUsuario" />
		<mapping class="pe.edu.unsch.entities.SeguimientoPedido" />
		<mapping class="pe.edu.unsch.entities.SubModulo" />
		<mapping class="pe.edu.unsch.entities.Sugerenciahistorial" />
		<mapping class="pe.edu.unsch.entities.SugerenciasCate" />
		<mapping class="pe.edu.unsch.entities.Tarjeta" />
		<mapping class="pe.edu.unsch.entities.TransferenciaBancaria" />
		<mapping class="pe.edu.unsch.entities.Usuario" />
		<mapping class="pe.edu.unsch.entities.Venta" />
		<mapping class="pe.edu.unsch.entities.VentaReporte" />
	</session-factory>
</hibernate-configuration>
